# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Google Sheets Configuration
GOOGLE_SHEETS_CREDENTIALS_PATH=../../../savejobs1-965277b38d22.json
GOOGLE_SHEETS_SPREADSHEET_ID=1zH46jNtr8HbzJazvxgXIeUecf7JmwojWHtW2h1AGUEU
GOOGLE_SHEETS_SHEET_NAME=datasheetproto1
